node_modules
/public/upload/img/*
/public/upload/img/time/*
/public/upload/img/usuario/*
/public/upload/img/campeonato/*
/public/upload/img/banner/*
/src/conn/config.js
/src/conn/connection.js
/src/migrations/
/src/seeders/
.env
.sequelizerc