<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="style" rel="stylesheet" href="css/styles.css" />
    <link id="style" rel="stylesheet" href="css/style2.css" />
    <title>WeScore</title>
  </head>
  <body>
    <!-- Menu -->
    <header>
      <div class="logo"><a href="/">WeScore</a></div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/jogos">Jogos</a></li>
          <li><a href="/contato">Contato</a></li>
          <button class="button">Login</button>
        </ul>
      </nav>
    </header>


<!-- Conteúdo da página -->
    {{{body}}}

<!-- footer -->

    <script src="js/script.js"></script>
    <script src="js/script2.js"></script>
  </body>
</html>