<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link id="style" rel="stylesheet" href="css/styles.css" />
		<link id="style" rel="stylesheet" href="css/styleJogos.css" />
		<link id="style" rel="stylesheet" href="css/styleJogosQuadra.css" />
		<link id="style" rel="stylesheet" href="css/styleHome.css" />
		<!-- icon link -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
		/>
		<title>WeScore</title>
	</head>
	<body>
		<!-- Menu -->
		<header>
			<div class="logo"><a href="/" >We<span>Score</span></a></div>
			<div class="hamburger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<nav class="nav-bar">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/jogos">Jogos</a></li>
					<li><a href="/contato">Contato</a></li>
					<a href="/login" class="button">Login</a>
				</ul>
			</nav>
		</header>

		<!-- Conteúdo da página -->
		{{{body}}}

		<!-- footer -->
		<section class="section-footer footer">
			<div class="footer-content logo">
				<a href="/" >We<span>Score</span></a>
				<p>Potencializando o Controle de <br/>
					Pontuação no Vôlei.</p>
				<div class="icon">
					<a href="#"><i class="bx bxl-tiktok"></i></a>
					<a href="#"><i class="bx bxl-instagram-alt"></i></a>
					<a href="#"><i class="bx bxl-google"></i></a>
					<a href="#"><i class="bx bxl-twitter"></i></a>
				</div>
			</div>

			<div class="footer-content">
				<h4>Menus</h4>
				<li><a href="/">Home</a></li>
				<li><a href="/jogos">Jogos</a></li>
				<li><a href="/contato">Contato</a></li>
				<li><a href="/login">Login</a></li>
			</div>
		</section>
		<script src="js/menu.js"></script>
	</body>
</html>