<section class="containerproje">
        <div class="slide-container active">
            <div class="slide">
             <div class="contentproje">
               <h3>Bem-vindo ao WeScore</h3>
               <p>Potencializando o Controle de Pontuação no Vôlei.</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Plataforma WeScore</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde similique ipsam quibusdam inventore earum, quo assumenda, quam molestiae 
                   laborum praesentium velit accusantium iure excepturi. Iste dolores id odit veritatis ex?</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Controle com Tecnologia</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid assumenda eaque, inventore 
                   pariatur molestias hic, aspernatur nihil ipsam eius magni incidunt? Incidunt eveniet non magnam 
                   reprehenderit beatae doloribus soluta.</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>
        
        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Tudo na Palma da Mão</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eos, qui obcaecati nulla 
                aliquid non iure autem, esse aliquam itaque rerum nostrum 
                repudiandae! At eligendi quas provident omnis voluptatem. Dignissimos..</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        
        <div id="prev" onclick="prev()"> ◄ </div>
        <div id="next" onclick="next()"> ► </div>
    </section>
<script src="js/home.js"></script>