<section class="containerproje">
        <div class="slide-container active">
            <div class="slide">
             <div class="contentproje">
               <h3>Bem-vindo ao WeScore</h3>
               <p>Potencializando o Controle de Pontuação no Vôlei.</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Simplicidade na Marcação.</h3>
               <p>Saque! Ataque! Pontue!</p>
               <p>Nós Marcamos para Você.</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Controle com Tecnologia</h3>
               <p>Eleve Seu Jogo, Ponto por Ponto.</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>
        
        <div class="slide-container">
            <div class="slide">
             <div class="contentproje">
               <h3>Tudo na Palma da Mão</h3>
               <p>Simplicidade na Marcação, Vitória no Vôlei.</p>
               <a href="#" class="bntproj">Saiba mais</a>
             </div>
            </div>
        </div>

        
        <div id="prev" onclick="prev()"> ◄ </div>
        <div id="next" onclick="next()"> ► </div>
    </section>
<script src="js/home.js"></script>