<div id="card" class="card">
	<div id="closecard" class="close">
		<div class="lineCard one"></div>
		<div class="lineCard two"></div>
	</div>
	<p class="cookieHeading">Substituição de jogador.</p>
	<p class="cookieDescription">Escolha um jogador para substituir.</p>

	<div id="subistituicaoTime01" class="jogadoresSubistituicaoTime01">
		<div class="bolinhaSubistituicao">01</div>
		<div class="bolinhaSubistituicao">02</div>
		<div class="bolinhaSubistituicao">03</div>
		<div class="bolinhaSubistituicao">04</div>
		<div class="bolinhaSubistituicao">05</div>
		<div class="bolinhaSubistituicao">06</div>
	</div>
	<div id="subistituicaoTime02" class="jogadoresSubistituicaoTime02">
		<div class="bolinhaSubistituicao subtime02">09</div>
		<div class="bolinhaSubistituicao subtime02">10</div>
		<div class="bolinhaSubistituicao subtime02">11</div>
		<div class="bolinhaSubistituicao subtime02">12</div>
		<div class="bolinhaSubistituicao subtime02">13</div>
		<div class="bolinhaSubistituicao subtime02">14</div>
	</div>
</div>
<section>
	<div class="mural">
		<div class="time01">
			<img class="logotime01" src="/img/VoleiBrasil.png" alt="logotime1" />
			<p class="nometime01">VoleiBrasil</p>
		</div>
		<div class="score" id="counter">
			<img id="bolavolei01" class="bolavolei01" src="/img/bola.png" />
			<div class="controlTime01">
				<button id="plusTime01" class="count-button">+</button>
				<button id="minusTime01" class="count-button">-</button>
			</div>
			<span id="valueTime01" class="pontostime01">00</span>
			<p class="vs">X</p>
			<span id="valueTime02" class="pontostime02">00</span>
			<div class="controlTime02">
				<button id="plusTime02" class="count-button">+</button>
				<button id="minusTime02" class="count-button">-</button>
			</div>
			<img id="bolavolei02" class="bolavolei02" src="/img/bola.png" />
		</div>
		<div class="time02">
			<p class="nometime02">VoleiBrasil</p>
			<img class="logotime02" src="/img/VoleiBrasil.png" alt="logotime1" />
		</div>
	</div>
</section>

<section>
	<div class="quadradejogo">
		<div class="volleyball-court">
			<div class="service-area left"></div>
			<div class="service-area right"></div>
			<div class="attack-area left"></div>
			<div class="attack-area right"></div>
			<div class="attack-line left"></div>
			<div class="attack-line right"></div>
			<div class="coach-box left"></div>
			<div class="coach-box right"></div>
			<div class="coach-box left bottom"></div>
			<div class="coach-box right bottom"></div>
			<div class="baseline"></div>
			<div class="net"></div>
		</div>
		<div class="quadraVolei">
			<div class="ballplayer">
				<div class="jogadoresTime01 quadra">
					<div id="Time01jgd1" class="bolinha jogador1">01</div>
					<div id="Time01jgd2" class="bolinha jogador2">02</div>
					<div id="Time01jgd3" class="bolinha jogador3">03</div>
					<div id="Time01jgd4" class="bolinha jogador4">04</div>
					<div id="Time01jgd5" class="bolinha jogador5">05</div>
					<div id="Time01jgd6" class="bolinha jogador6">06</div>
				</div>
			</div>
			<div class="ballplayer">
				<div class="jogadoresTime02 quadra">
					<div id="Time02jgd1" class="bolinha2 jogador1t2">01</div>
					<div id="Time02jgd2" class="bolinha2 jogador2t2">02</div>
					<div id="Time02jgd3" class="bolinha2 jogador3t2">03</div>
					<div id="Time02jgd4" class="bolinha2 jogador4t2">04</div>
					<div id="Time02jgd5" class="bolinha2 jogador5t2">05</div>
					<div id="Time02jgd6" class="bolinha2 jogador6t2">06</div>
				</div>
			</div>
		</div>
	</div>

</section>

<script src="js/scriptJogos.js"></script>