.quadraVolei {
  width: 100%;
  height: 30vw;
  background: url("/img/quadravolei.jpg");
  background-repeat: no-repeat;
  background-size: 50% 30vw;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ballplayer {
  width: 50%;
  height: 100%;
}
.jogadoresTime01{
  width: 30%;
  height: 50%;
  margin: 15% 2% auto auto;
}
.jogadoresTime02{
  width: 30%;
  height: 50%;
  margin: 15% auto auto 2%;
}

.quadra {
  position: relative;
}
.bolinha {
  position: absolute;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: var(--nav-bar-a-color);
  display: flex;
  color: white;
  font-size: 2vw;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease, top 0.5s ease;
}
.bolinha2 {
  position: absolute;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: var(--nav-bar-a-color-border-solid);
  display: flex;
  color: white;
  font-size: 2vw;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease, top 0.5s ease;
}