.containerproje{
    position: relative;
}
.containerproje .slide-container .slide{
    min-height: 94vh;
    min-width: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}
.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
    margin-left: 50px;
}
@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}
.containerproje .slide-container .slide .contentproje h3{
    font-size: 3em;
    font-weight: bold;
    color: var(--nav-bar-a-color);
}
.containerproje .slide-container .slide .contentproje p{
    font-size: 2em;
    color: #ffffff;
    width: 50%;
    height: 10%;
}
.bntproj{
    display: inline-block;
    padding: 9px 40px;
    border: 1px solid var(--nav-bar-a-color);
    border-radius: 6px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1.5em;
    color: var(--nav-bar-a-color);
    z-index: 1;
    background-color: var(--header-background-color);
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
}
    .bntproj:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .bntproj:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--nav-bar-a-color-border-solid);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .bntproj:hover {
    color: var(--header-background-color);
    border: 1px solid;
  }
  .bntproj:hover:before {
    top: -35%;
    background-color: var(--nav-bar-a-color-border-solid);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .bntproj:hover:after {
    top: -45%;
    background-color: var(--nav-bar-a-color-border-solid);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
.containerproje .slide-container .slide .contentproje .bntproj:hover{
    color: var(--header-background-color);
    border: 1px solid;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}
.containerproje .slide-container:nth-child(1) .slide{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0)), url("/img/Home/rede-fundo-dark.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.containerproje .slide-container:nth-child(2) .slide{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0)), url("/img/Home/playerBallDark.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.containerproje .slide-container:nth-child(3) .slide{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0)), url("/img/Home/volleyball-player.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.containerproje .slide-container:nth-child(4) .slide{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0)), url("/img/Home/VoleyPlayer.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: var(--nav-bar-a-color);
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
    transition: 0.5s;
}
.containerproje #prev:hover, 
.containerproje #next:hover{
    background: var(--nav-bar-a-color-border-solid);
    transition: 0.5s;
}
.containerproje #prev{
    left: 20px;
}
.containerproje #next{
    right: 20px;
}

@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }
    .containerproje #next{
        right: 0px;
        top: 60%;
    }
    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        width: 70%;
        height: 10%;
    
    }
}