:root {
    --body-background-color: #c9c9c9;
    --header-background-color: white;
    --box-shadow-color: rgba(191, 191, 191, 1);
    --logo-color: #0ebeff;
    --nav-bar-a-color: #0ebeff;
    --nav-bar-a-color-border-solid: #074672;
    --activePage: #074672;
    --hamburger-color: #0ebeff;
    --hamburger-background-color: white;
    --hamburger-background-shadow: rgba(191, 191, 191, 1);
    --height-nav-bar: 60px;
    /*
      #40BDDB #16AED4 #2E7EB1 #0C4F87 #063760
      #0ebeff #0ca0dc #0a82b8 #096495 #074672 #063760 #032e52 #03243f
      */
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
  
  *,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: var(--body-background-color);
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: var(--height-nav-bar);
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    box-shadow: 0 16px 8px -9px var(--box-shadow-color);
  }
  .logo a {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
    text-decoration: none;
  }
  .hamburger {
    display: none;
  }
  .nav-bar ul {
    display: flex;
    list-style: none;
  }
  .nav-bar ul li a {
    text-decoration: none;
    display: block;
    color: var(--nav-bar-a-color);
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: 0.2s;
  }
  .nav-bar ul li a::after {
    display: block;
    content: "";
    border-bottom: 2px solid var(--nav-bar-a-color-border-solid);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .nav-bar ul li a:hover::after {
    transform: scaleX(1);
  }
  
  .button {
    display: inline-block;
    padding: 4px 18px;
    border: 1px solid var(--nav-bar-a-color);
    border-radius: 6px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    color: var(--nav-bar-a-color);
    z-index: 1;
    background-color: var(--header-background-color);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--nav-bar-a-color-border-solid);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .button:hover {
    color: var(--header-background-color);
    border: 1px solid;
  }
  .button:hover:before {
    top: -35%;
    background-color: var(--nav-bar-a-color-border-solid);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .button:hover:after {
    top: -45%;
    background-color: var(--nav-bar-a-color-border-solid);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .nav-bar ul li a.acrive {
    color: var(--activePage);
    font-weight: bolder;
    transition: 0.5s;
  }


  .mural {
    padding: 20px;
    width: 95vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-bar-a-color-border-solid);
    border-radius: 20px;
    margin: 8px auto;
  }
  .time01 {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mural .logotime01 {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .mural .nometime01 {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  .score {
    display: flex;
    margin: 0 auto;
    gap: 8px;
    align-items: center;
  }
  .mural .vs {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  .mural .pontostime01,
  .pontostime02 {
    font-size: 85px;
    font-weight: bold;
    color: white;
  }
  .time02 {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mural .logotime02 {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .mural .nometime02 {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  .mural .bolavolei01 {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 38px;
    height: 38px;
    opacity: 0;
  }
  .mural .bolavolei02 {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 38px;
    height: 38px;
    opacity: 0;
  }
  .controlTime01 {
    display: flex;
    flex-direction: column;
  }
  .controlTime02 {
    display: flex;
    flex-direction: column;
  }
  .count-button {
    margin: 2px 0;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 20px;
    background-color: #032e52;
    transition: 0.5s;
  }
  button {
    cursor: pointer;
  }
  .count-button:hover {
    background-color: var(--nav-bar-a-color);
    transition: 0.5s;
  }
  
  @media only screen and (max-width: 950px) {
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .hamburger .line {
      width: 30px;
      height: 3px;
      background-color: var(--hamburger-color);
      margin: 6px 0;
      transition: 0.5s;
    }
    .nav-bar {
      height: 0;
      position: absolute;
      top: var(--height-nav-bar);
      left: 0;
      right: 0;
      width: 100vw;
      background-color: var(--hamburger-background-color);
      box-shadow: 0 16px 8px -9px var(--hamburger-background-shadow);
      transition: 0.5s;
      overflow: hidden;
      z-index: 10;
    }
    .nav-bar.active {
      height: 400px;
      z-index: 10;
    }
    .nav-bar ul {
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
    .nav-bar.active ul {
      opacity: 1;
    }
    .nav-bar ul li a {
      margin-bottom: 12px;
    }
    .hamburger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.2s;
    }
    .hamburger.active .line:nth-child(1) {
      transform: translateY(8.5px) rotate(-45deg);
      transition: 0.5s;
    }
    .hamburger.active .line:nth-child(3) {
      transform: translateY(-8.5px) rotate(45deg);
      transition: 0.5s;
    }
    .mural {
      height: 120px;
      transition: 0.5s;
    }
    .mural .logotime01 {
      width: 80px;
      height: 80px;
      transition: 0.5s;
    }
    .mural .logotime02 {
      width: 80px;
      height: 80px;
      transition: 0.5s;
    }
    .mural .nometime01 {
      font-size: 24px;
      font-weight: bold;
      transition: 0.5s;
    }
    .mural .nometime02 {
      font-size: 24px;
      font-weight: bold;
      transition: 0.5s;
    }
    .count-button {
      width: 20px;
      height: 20px;
      font-size: 18px;
      margin: 1px 0;
      transition: 0.5s;
    }
    .mural .vs {
      font-size: 25px;
      transition: 0.5s;
    }
    .mural .pontostime01,
    .pontostime02 {
      font-size: 65px;
      transition: 0.5s;
    }
    .mural .bolavolei01 {
      width: 25px;
      height: 25px;
    }
    .mural .bolavolei02 {
      width: 25px;
      height: 25px;
    }
  }
  @media only screen and (max-width: 850px) {
    .mural {
      height: 80px;
      transition: 0.5s;
    }
    .mural .logotime01 {
      border-radius: 15px;
      width: 60px;
      height: 60px;
      transition: 0.5s;
    }
    .mural .logotime02 {
      border-radius: 15px;
      width: 60px;
      height: 60px;
      transition: 0.5s;
    }
    .mural .nometime01 {
      font-size: 18px;
      transition: 0.5s;
    }
    .mural .nometime02 {
      font-size: 18px;
      transition: 0.5s;
    }
    .count-button {
      width: 17px;
      height: 17px;
      font-size: 15px;
      margin: 1px 0;
      transition: 0.5s;
    }
    .mural .vs {
      font-size: 20px;
      transition: 0.5s;
    }
    .mural .pontostime01,
    .pontostime02 {
      font-size: 55px;
      transition: 0.5s;
    }
    .mural .bolavolei01 {
      width: 20px;
      height: 20px;
    }
    .mural .bolavolei02 {
      width: 20px;
      height: 20px;
    }
  }
  @media only screen and (max-width: 660px) {
    .mural {
      height: 70px;
      transition: 0.5s;
    }
    .mural .logotime01 {
      border-radius: 10px;
      width: 50px;
      height: 50px;
      transition: 0.5s;
    }
    .mural .logotime02 {
      border-radius: 10px;
      width: 50px;
      height: 50px;
      transition: 0.5s;
    }
    .mural .nometime01 {
      font-size: 18px;
      transition: 0.5s;
    }
    .mural .nometime02 {
      font-size: 18px;
      transition: 0.5s;
    }
    .count-button {
      width: 15px;
      height: 15px;
      font-size: 10px;
      margin: 1px 0;
      transition: 0.5s;
    }
    .mural .vs {
      font-size: 10px;
      transition: 0.5s;
    }
    .mural .pontostime01,
    .pontostime02 {
      font-size: 40px;
      transition: 0.5s;
    }
    .mural .bolavolei01 {
      width: 18px;
      height: 18px;
      transition: 0.5s;
    }
    .mural .bolavolei02 {
      width: 18px;
      height: 18px;
      transition: 0.5s;
    }
  }
  @media only screen and (max-width: 580px) {
    .mural {
      min-width: 490px;
      height: 70px;
      transition: 0.5s;
    }
    .mural .logotime01 {
      border-radius: 5px;
      width: 40px;
      height: 40px;
      transition: 0.5s;
    }
    .mural .logotime02 {
      border-radius: 5px;
      width: 40px;
      height: 40px;
      transition: 0.5s;
    }
    .mural .nometime01 {
      font-size: 14px;
      transition: 0.5s;
    }
    .mural .nometime02 {
      font-size: 14px;
      transition: 0.5s;
    }
    .count-button {
      width: 13px;
      height: 13px;
      font-size: 7px;
      margin: 1px 0;
      transition: 0.5s;
    }
    .mural .vs {
      font-size: 10px;
      transition: 0.5s;
    }
    .mural .pontostime01,
    .pontostime02 {
      font-size: 35px;
      transition: 0.5s;
    }
    .mural .bolavolei01 {
      width: 15px;
      height: 15px;
      transition: 0.5s;
    }
    .mural .bolavolei02 {
      width: 15px;
      height: 15px;
      transition: 0.5s;
    }
  }
  