.mural {
  padding: 20px;
  width: 95vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--nav-bar-a-color-border-solid);
  border-radius: 20px;
  margin: 5px auto;
}
.time01 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.mural .logotime01 {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.mural .nometime01 {
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.score {
  display: flex;
  margin: 0 auto;
  gap: 8px;
  align-items: center;
}
.mural .vs {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.mural .pontostime01,
.pontostime02 {
  font-size: 85px;
  font-weight: bold;
  color: white;
}
.time02 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.mural .logotime02 {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.mural .nometime02 {
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.mural .bolavolei01 {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 38px;
  height: 38px;
  opacity: 0;
}
.mural .bolavolei02 {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 38px;
  height: 38px;
  opacity: 0;
}
.controlTime01 {
  display: flex;
  flex-direction: column;
}
.controlTime02 {
  display: flex;
  flex-direction: column;
}
.count-button {
  margin: 4px 0;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: #032e52;
  transition: 0.5s;
}
button {
  cursor: pointer;
}
.count-button:hover {
  background-color: var(--nav-bar-a-color);
  transition: 0.5s;
}
/* Popup - substituição */
.card {
  width: 30vw;
  min-width: 200px;
  aspect-ratio: 16 / 9;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  font-size: calc(1.2vw + 8px);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  z-index: 2;
  margin: 5px 50% 5px 50%;
  display: flex;
  transform: translateX(-50%);
  transition: 0.5s;
}

.cookieHeading {
  font-size: 1em;
  font-weight: 800;
  color: rgb(26, 26, 26);
  margin-top: 15px;
}
.cookieDescription {
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.bolinhaSubistituicao {
  width: 12.5%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--nav-bar-a-color);
  color: white;
  display: flex;
  font-size: 70%;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.subtime02{
  background-color: var(--nav-bar-a-color-border-solid);
}
.jogadoresSubistituicaoTime01{
  width: 95%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.3em 5%;
  font-size: 2.5vw;
}
.jogadoresSubistituicaoTime02{
  width: 95%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.3em 5%;
  font-size: 2.5vw;
}
.close {
  width: 1.2em;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0 0 10px 10px;
}

.lineCard {
  position: absolute;
  width: calc(.8em + 2px);
  height: .15em;
  background-color: #6B6C7B;
  border-radius: 30px;
}

.lineCard.one {
  transform: rotate(45deg)
}

.lineCard.two {
  transform: rotate(135deg)
}


@media only screen and (max-width: 950px) {
  .mural {
    height: 120px;
    transition: 0.5s;
  }
  .mural .logotime01 {
    width: 80px;
    height: 80px;
    transition: 0.5s;
  }
  .mural .logotime02 {
    width: 80px;
    height: 80px;
    transition: 0.5s;
  }
  .mural .nometime01 {
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
  }
  .mural .nometime02 {
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
  }
  .count-button {
    width: 20px;
    height: 20px;
    font-size: 18px;
    margin: 3px 0;
    transition: 0.5s;
  }
  .mural .vs {
    font-size: 25px;
    transition: 0.5s;
  }
  .mural .pontostime01,
  .pontostime02 {
    font-size: 65px;
    transition: 0.5s;
  }
  .mural .bolavolei01 {
    width: 25px;
    height: 25px;
  }
  .mural .bolavolei02 {
    width: 25px;
    height: 25px;
  }
  .card {
    gap: 5px;
  }
  .cookieHeading{
    margin-top: 5px;
  }
  .line {
    width: .8em;
    height: 0.1em;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 850px) {
  .mural {
    height: 80px;
    transition: 0.5s;
  }
  .mural .logotime01 {
    border-radius: 15px;
    width: 60px;
    height: 60px;
    transition: 0.5s;
  }
  .mural .logotime02 {
    border-radius: 15px;
    width: 60px;
    height: 60px;
    transition: 0.5s;
  }
  .mural .nometime01 {
    font-size: 18px;
    transition: 0.5s;
  }
  .mural .nometime02 {
    font-size: 18px;
    transition: 0.5s;
  }
  .count-button {
    width: 17px;
    height: 17px;
    font-size: 15px;
    margin: 2px 0;
    transition: 0.5s;
  }
  .mural .vs {
    font-size: 20px;
    transition: 0.5s;
  }
  .mural .pontostime01,
  .pontostime02 {
    font-size: 55px;
    transition: 0.5s;
  }
  .mural .bolavolei01 {
    width: 20px;
    height: 20px;
  }
  .mural .bolavolei02 {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 660px) {
  .mural {
    height: 70px;
    transition: 0.5s;
  }
  .mural .logotime01 {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
  }
  .mural .logotime02 {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
  }
  .mural .nometime01 {
    font-size: 18px;
    transition: 0.5s;
  }
  .mural .nometime02 {
    font-size: 18px;
    transition: 0.5s;
  }
  .count-button {
    width: 15px;
    height: 15px;
    font-size: 10px;
    margin: 1px 0;
    transition: 0.5s;
  }
  .mural .vs {
    font-size: 10px;
    transition: 0.5s;
  }
  .mural .pontostime01,
  .pontostime02 {
    font-size: 40px;
    transition: 0.5s;
  }
  .mural .bolavolei01 {
    width: 18px;
    height: 18px;
    transition: 0.5s;
  }
  .mural .bolavolei02 {
    width: 18px;
    height: 18px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 580px) {
  .mural {
    height: 70px;
    transition: 0.5s;
  }
  .mural .logotime01 {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  .mural .logotime02 {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  .mural .nometime01 {
    font-size: 14px;
    transition: 0.5s;
  }
  .mural .nometime02 {
    font-size: 14px;
    transition: 0.5s;
  }
  .count-button {
    width: 13px;
    height: 13px;
    font-size: 7px;
    margin: 1px 0;
    transition: 0.5s;
  }
  .mural .vs {
    font-size: 10px;
    transition: 0.5s;
  }
  .mural .pontostime01,
  .pontostime02 {
    font-size: 35px;
    transition: 0.5s;
  }
  .mural .bolavolei01 {
    width: 15px;
    height: 15px;
    transition: 0.5s;
  }
  .mural .bolavolei02 {
    width: 15px;
    height: 15px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 500px) {
  .mural {
    height: 70px;
    transition: 0.5s;
  }
  .mural .logotime01 {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  .mural .logotime02 {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  .mural .nometime01 {
    font-size: 14px;
    transition: 0.5s;
  }
  .mural .nometime02 {
    font-size: 14px;
    transition: 0.5s;
  }
  .count-button {
    width: 13px;
    height: 13px;
    font-size: 7px;
    margin: 1px 0;
    transition: 0.5s;
  }
  .mural .vs {
    font-size: 10px;
    transition: 0.5s;
  }
  .mural .pontostime01,
  .pontostime02 {
    font-size: 35px;
    transition: 0.5s;
  }
  .mural .bolavolei01 {
    width: 15px;
    height: 15px;
    transition: 0.5s;
  }
  .mural .bolavolei02 {
    width: 15px;
    height: 15px;
    transition: 0.5s;
  }
  .time01{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }
  .time02{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }
  .time02 :nth-child(1) {
    order: 2; 
  }
}
