.loginsection{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  background-image: url('/img/Home/BolaMikasa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 5px 0;
}
.h1login{
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.h1title {
  font-size: 2em;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.logincontainer p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.logincontainer span {
  font-size: 14px;
  margin-top: 25px;
}

.logincontainer a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

.logincontainer a:hover {
  color: #4bb6b7;
}

.logincontainer .content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.loginsection .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginsection .content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}

.label-login {
  color: #ffffff;
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

.loginsection button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #4bb6b7;
  background-color: #4bb6b7;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

/*botao register setinha direita*/
.loginsection button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #fff;
  color: #fff;
}
.loginsection button.ghost i{
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.loginsection button.ghost i.register-button{
  right: 70px;
}
.loginsection button.ghost:hover i.register-button{
  right: 40px;
  opacity: 1;
}

.loginsection button.ghost i.login-button{
  left: 70px;
}
.loginsection button.ghost:hover i.login-button{
  left: 40px;
  opacity: 1;
}



.loginsection input {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}


.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/img/haikyu.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}
.logincontainer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.logincontainer.right-panel-active .login-container {
  transform: translateX(100%);
}

.loginsection .register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  transition: 0.6s ease-in-out;
}

.logincontainer.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/*skate transparente*/
.loginsection .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  gap: 20px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 2;/*100*/
}

.logincontainer.right-panel-active .overlay-container {
  transform: translate(-100%);
}
.loginsection .overlay-containerLogin {
  position: absolute;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100%;
  gap: 20px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 2;/*100*/
}
.logincontainer.right-panel-active .overlay-containerLogin {
  transform: translate(100%);
}


.loginsection .overlay {
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.logincontainer.right-panel-active .overlay {
  transform: translateX(50%);
}



.loginsection .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginsection .overlay-left {
  transform: translateX(-20%);
}

.logincontainer.right-panel-active .overlay-left {
  transform: translateX(0);
}

.loginsection .overlay-right {
  right: 0;
  transform: translateX(0);
}

.logincontainer.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.loginsection .overlay {
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.logincontainer.right-panel-active .overlay {
  transform: translateX(50%);
}


.loginsection .login {
  color: #fff;
  position: relative;
  left: -110%;
  height: 100%;
  width: 200%;
  transform: translateX(0%);
  transition: transform 0.6s ease-in-out;
}

.logincontainer.right-panel-active .login {
  transform: translateX(55%);
}
.loginsection .login-panel {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginsection .login-left {
  transform: translateX(-20%);
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0)
  );
}

.logincontainer.right-panel-active .login-left {
  transform: translateX(0);
}

.loginsection .login-right {
  right: 0;
  transform: translateX(0);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0)
  );
}

.logincontainer.right-panel-active .login-right {
  transform: translateX(20%);
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
  height: 100%;
  text-align: center;
  width: 90%;
}